@font-face {
	font-display: swap;
	font-family: "Effra";
	font-style: normal;
	font-weight: 400;
	src: url("./effra-regular.woff2") format("woff2"), url("./effra-regular.woff") format(".woff");
}

@font-face {
	font-display: swap;
	font-family: "Effra";
	font-style: normal;
	font-weight: 700;
	src: url("./effra-bold.woff2") format("woff2"), url("./effra-bold.woff") format("woff");
}
