@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "../maps/lists" as *;
@use "../functions/fluidity" as *;
@use "../maps/heading" as *;
@use "../maps/typography" as *;
@use "../maps/viewports" as *;
@use "../mixins/variables" as *;

// "--text-" FONT-SIZE ROOT VARIABLES
html {
	// VARIABLES
	$max-font-size: to-rem(map-get($typography, max-font-size));
	$min-font-size: to-rem(map-get($typography, min-font-size));

	$desktop-scale: map-get($typography, desktop-scale);
	$mobile-scale: map-get($typography, mobile-scale);

	$max-vp: to-rem(map-get($viewports, max-viewport));
	$min-vp: to-rem(map-get($viewports, min-viewport));

	@for $i from 1 through length($suffix) {
		$step: list.nth($suffix, $i);
		$index: list.index($suffix, "m");
		$power: $i - $index;
		$min: rnd($min-font-size * math.pow($mobile-scale, $power), 4);
		$max: rnd($max-font-size * math.pow($desktop-scale, $power), 4);
		--text-#{$step}: #{fluid($min, $max, $min-vp, $max-vp)};
	}
}

// ".text-" FONT-SIZE CLASSES
@for $i from 1 through length($suffix) {
	$step: list.nth($suffix, $i);
	.text-#{$step} {
		font-size: var(--text-#{$step});
	}
}

/* DEFAULT HEADER SETTINGS */
[class*="text--"],
h1,
h2,
h3,
h4,
h5,
h6 {
	@include variables($headings);
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line);
}

h1 {
	--font-size: var(--text-3xl);
	--line: var(--line-xs);
}

h2 {
	--font-size: var(--text-2xl);
	--line: var(--line-s);
}

h3 {
	--font-size: var(--text-xl);
	--line: var(--line-s);
}

h4 {
	--font-size: var(--text-l);
	--line: var(--line-m);
}

h5 {
	--font-size: var(--text-m);
	--line: var(--line-m);
}

h6 {
	--font-size: var(--text-s);
	--line: var(--line-m);
}
