@use "sass:list";
@use "../maps/lists" as *;
@use "../base/animations" as *;

/* UTILITY CLASSES */

// 1. PLACEMENT
@for $i from 1 through length($suffix) {
	$size: list.nth($suffix, $i);
	@for $i from 1 through length($placement) {
		$step: list.nth($placement, $i);
		.#{$step}-#{$size} {
			#{$step}: var(--space-#{$size});
		}
	}
}

@for $i from 1 through length($placement) {
	$step: list.nth($placement, $i);
	$size: 0;
	.#{$step}-#{$size} {
		#{$step}: #{$size};
	}
}

// 2. POSITION
@for $i from 1 through length($position) {
	$step: list.nth($position, $i);
	.#{$step} {
		position: #{$step};
	}
}

// 3. TEXT TRANSFORM
@for $i from 1 through length($text-transform) {
	$step: list.nth($text-transform, $i);
	.#{$step} {
		text-transform: #{$step};
	}
}

.flip-x,
.flip-x > div {
	scale: -1;

	&-hover {
		&:hover {
			scale: -1;
		}
	}
}

.flip-y,
.flip-y > div {
	scale: none -1;

	&-hover {
		&:hover {
			scale: none -1;
		}
	}
}

.flip-xy,
.flip-xy > div {
	scale: -1 -1;

	&-hover {
		&:hover {
			scale: -1 -1;
		}
	}
}

.hover-shine {
	overflow: hidden;

	.bg-img {
		position: absolute;
		inset: 0;
		object-fit: cover;
		z-index: -1;
		transition: var(--normal);

		picture {
			img {
				object-fit: cover;
				height: 100%;
			}
		}
	}

	&:is(:hover, :focus) .bg-img {
		transform: scale(1.15);
	}

	&::before {
		inset: 0 0 0 -140%;
		inline-size: 100%;
		background-image: var(--gradient);
		transform: skewX(-25%);
		transition: var(--normal);
		z-index: 1;
	}

	&:is(:hover, :focus-visible)::before {
		animation: shine 2s ease forwards;
	}
}
